
AguaClara Water Treatment Plant Design/Chapter 4_Flocculation/Summary_Sheet_Hydraulic_Flocculator_Design.html
Previous Final Projects/2017/Flouride Waste Stream Management for Drinking Water Treatment/.ipynb_checkpoints/Team_Atlantis_Flouride_Waste_Stream_Management_for_Drinking_Water_Treatment_Report-checkpoint.ipynb
